{{include('head.html.twig')}}
{{include('navigation.html.twig',userInfo)}}



{% block body %}
    <div style="max-width: 400px; margin: auto; margin-top: 50px; padding: 20px; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        

        <h1 style="text-align: center; color: #333; font-size: 24px; margin-bottom: 20px;">Přihlášení</h1>
        <form method="post">
            <div style="margin-bottom: 15px;">
                <label for="inputUsername">Uživatelské jméno</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            </div>
            <div style="margin-bottom: 15px;">
                <label for="inputPassword">Heslo</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary" type="submit" style="width: 100%;  padding: 10px; border: none; border-radius: 5px; cursor: pointer;">Přihlásit se</button>
        </form>
    </div>
{% endblock %}


{{include('footer.html.twig')}}