{{ include('head.html.twig') }}
{{ include('navigation.html.twig', userInfo) }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Košík</title>
    <!-- Include any necessary CSS stylesheets or frameworks here -->
    <link rel="stylesheet" href="path/to/your/css/style.css">
</head>
<body>

    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <h1 style="text-align: center; color: #333;">Košík</h1>
        {% for message in app.flashes('success') %}
            <div style="margin-bottom: 10px; padding: 10px; background-color: #d4edda; border: 1px solid #c3e6cb; border-radius: 5px; color: #155724;">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('removeItem') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-warning" style="margin-bottom: 10px; padding: 10px; background-color: #f8d7da; border: 1px solid #f5c6cb; border-radius: 5px; color: #721c24;">
                {{ message }}
            </div>
        {% endfor %}

        {% if productsInCart is empty %}
            <p style="text-align: center; font-size: 18px; color: #666;">Váš košík je prázdný.</p>
        {% else %}
            {% if userInfo['isLoggedIn'] %}
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link" style="text-decoration: none;">15% sleva </a>přihlášený uživatel
            </div>
            
        {% endif %}
            <ul style="list-style-type: none; padding: 0;">
                {% for cartItem in productsInCart %}
                    <li style="margin-bottom: 10px; padding: 10px; background-color: #fff; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); display: flex; justify-content: space-between; align-items: center;">
    <span>
        <strong>{{ cartItem.product.name }}</strong> - {{ cartItem.product.price }} Kč (Počet: {{ cartItem.quantity }})
    </span>
    <a style="text-decoration:none; color: red;" href="{{ path('remove_item', {'name': cartItem.product.name}) }}">❌</a>
</li>

                    
                {% endfor %}
            </ul>
            <a href="{{ path('complete_purchase') }}" style="display: block; margin-top: 20px; padding: 10px; background-color: #28a745; color: #fff; text-align: center; text-decoration: none; border-radius: 5px;">Zaplatit {{ finalPrice }} Kč</a>
        {% endif %}

    </div>
{{ include('footer.html.twig') }}
