{{ include('head.html.twig') }}
{{ include('navigation.html.twig', userInfo) }}

<h1>Košík</h1>

{% if productsInCart is empty %}
    <p>Váš košík je prázdný.</p>
{% else %}
    <ul>
        {% for cartItem in productsInCart %}
            <li>{{ cartItem.product.name }} - {{ cartItem.product.price }} Kč (Počet: {{ cartItem.quantity }})</li>
        {% endfor %}
    </ul>
    <a href="{{ path('complete_purchase') }}" class="btn btn-success">Zaplatit {{ finalPrice }} Kč</a>
{% endif %}

{{ include('footer.html.twig') }}
